*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inter;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 5px;
    padding: 10px;
    border-radius:10px;
    height: 100vh;
    background-color: rgb(223, 246, 246);
   
}


           /*header*/

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
    position: relative;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
/*how to make actual search bar larger?*/
#search{
    align-items:center;
    margin-left: 10%;
    margin-top: 5%;
}
.search{
    color:white;
    font-weight: 500;
    background-color:rgb(202, 109, 4);
    width: 50px;
    height: 20px;
    border-radius: 5px;
}
.search-icon{
    width: 3%;
    margin-right: 5px;
}
.profile-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20vw;
    max-width: 275px;
    min-width: 150px;
    font-size: 12px;
    margin: 2%;
}
/*how to fix space between and properly fix size of images?*/
.bell{
    padding:12%;
}
.avatar{
    padding: 8%;
}

.bottom-header{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    margin: 0px;
}
.profile-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 5%;
}
.profile-display img{
    width: 15%;
    height: 15%;
    padding:1%;
    margin-right: 5px;
}
.name-greeting{
    padding:5%;
}
.greeting{
font-size: 14px;
margin-bottom: 5px;
}
.name{
    font-size: 20px;
}
.post{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 25vw;
    max-width: 275px;
    min-width: 265px;
    margin-bottom: 15px;
    margin-right: 1%;
}
.head-button{
    color:white;
    font-weight: 500;
    background-color:navy;
    width: 30%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 9%;
}

             /*sidebar*/

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    color: white;
    background-color: rgba(2, 2, 72, 0.728);
    padding: 15px 20px 20px 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 50px;
    list-style-type: none;
}
.sidebar li{
    display: flex;
    align-items: center;
    line-height: 20px;
}
.nav-heading{
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-right:10px;
}
.nav-bar{
    grid-row: 2 / 3;
}
.nav-styles{
    list-style-type: none;
    font-size: 15px;
    font-weight:lighter;
}
.nav-list img{
    width: 10%;
    margin: 10px;
}
.setting-bar{
    padding-top: 15px;
    grid-row: 3 / 4;
}
.setting-list img{
    width: 10%;
    margin: 10px;
}
.clickable img{
    width: 15%;
    margin: 12px;
}
.profile-bar img{
    width:35%;
    margin:10px;
}


            /*main*/

.main{
    background-color:whitesmoke;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 15px 30px 15px;
    max-height: 100%;
}
    /*projects*/
.project-display{
    grid-column:1/2;
    grid-row: 1/3;
    margin-right: 20px;
}
.project-section-heading{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}
.projects-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project{
    background-color: white;
    width: 50%;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
    min-width: 265px;
    box-shadow: 0px 2px 3px navy;
    padding: 30px 20px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project-heading{
font-size: 15px;
color:rgb(211, 58, 3)
}
.project-description{
font-size: 12px;
}
    /*announcements*/
.announcements-section{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-bottom: 10px;
}
.announcements-section-heading{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}
.announcements-container{
    background-color: white;
    box-shadow: 0px 2px 3px navy;
    padding: 30px 20px 20px 30px;
    border-radius: 10px;
    min-width: 225px;
}
.announcement-heading{
    font-size: 15px;
    margin-bottom: 5px;
    color:rgb(2, 102, 64)
}
.announcement-description{
    font-size: 12px;
}
/*Way to fix spacing between announcement and trending section?*/
    /*trending*/
.trending-section{
    grid-column: 2/3;
    grid-row: 2/3;
    padding-bottom: 10px;
}
.trending-profile{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.profile{
    margin-right: 10px;
}

.trending-username {
    font-size: 14px;
    font-weight: 400px;

}
.trend-project{
    font-size: 11px;
    color: navy
}

.trending-container{
    background-color: white;
    box-shadow: 0px 2px 3px navy;
    padding: 20px 10px 50px 20px;
    border-radius: 10px;
    min-width: 225px;
}
.profile{
    width: 18%;
}